* {
	color: #ffffff;
}

body {
	background-color: #333333;
	color: #ffffff;
	margin: 20px;
}

p {
	font-size: 24px;
}

ul {
	display: flex;
}

ul li {
	padding-left: 20px;
	list-style: none;
	padding-right: 20px;
}
